body{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: white;
    font-family: 'Press Start 2P', cursive;
}

ul {
    list-style-type: none;
}

.menu {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 2rem;
    position: absolute;
    padding: 2rem;
    color:black;
    font-weight: 900;
    font-family: 'Press Start 2P', cursive;
    margin: 2.5rem;
    border-radius: 15px;
}

.menu:hover {
    color: rebeccapurple;
    font-size: 3rem;
    cursor: pointer;
}

.screen{
    display:flex;
    justify-content: center;
    align-items: center;
}

.screen img {
    top: 15%;
    width: 50vw;
    max-height: 100vh;
    position: absolute;
}

.foreground {
    z-index: 100;
    position: absolute;
    bottom: 0;
    width: 100vw;
    justify-content: center;
    align-items: center;

}

.full-screen{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-screen img {
    top:15%;
    width: 100%;
    max-width: 100vw;
}

.nav_no_show {
    display: none;
}

.nav {
    z-index: 400;
    width: 95%;
    height: 95%;
    position: absolute;
    display: none;
    padding: 3rem;
    text-decoration: none;
    background-color: hsl(270, 50%, 40%,0.5);
}

.nav li {
    color: white;
    font-size: 10rem;
    padding: 1.5rem;
}

.nav li:hover {
    color: black;
}

@media screen and (min-width: 3051px) {

    .menu {
        z-index: 30;
    }

    .full-screen {
        top:0;
    }

    .full-screen img{
        top:0;
        width: 100%; /* Make the image take the full width of the screen */
        height: auto; /* Maintain the image's aspect ratio */
    }
  }